footer.footer 
                .container
                    .footer--top 
                        ol.footer--top__list.d-flex
                            li.footer--top__item 
                                img(src="../assets/images/footer--top__img2.svg", alt="rasm").footer--top__img
                                img(src="../assets/images/Ellipse 10.svg", alt="ellepse").footer--top__img__ellepse
                                h3.footer--top__h3 Garden Care
                                p.footer--top__desc We are an online plant shop offering a wide range of cheap and trendy plants.

                            li.footer--top__item 
                                img(src="../assets/images/footer--top__img2.svg", alt="rasm").footer--top__img
                                img(src="../assets/images/Ellipse 10.svg", alt="ellepse").footer--top__img__ellepse
                                h3.footer--top__h3 Plant Renovation
                                p.footer--top__desc We are an online plant shop offering a wide range of cheap and trendy plants.

                            li.footer--top__item 
                                img(src="../assets/images/footer--top__img3.svg", alt="rasm").footer--top__img
                                img(src="../assets/images/Ellipse 10.svg", alt="ellepse").footer--top__img__ellepse
                                h3.footer--top__h3 Watering Graden
                                p.footer--top__desc We are an online plant shop offering a wide range of cheap and trendy plants.

                            li.footer--top__item--end 
                                h2.footer--top__item--end__h2 Would you like to join newsletters?
                                form.footer--top__item--end__form
                                    input(type="email"  placeholder="enter your email address...").footer--top__item--end__input
                                    button.footer__input__btn Join
                                    p.footer--top__item--end.desc We usually post offers and challenges in newsletter. We’re your online houseplant destination. We offer a wide range of houseplants and accessories shipped directly from our (green)house to yours! 
                    .footer--middle
                        ol.footer--middle__list.d-flex.a-items-c 
                            li.footer--middle__item1 
                                img(src="../assets/logo/Green-header-logo.svg", alt="logo").footer--middle__logo
                            li.footer--middle__item2.d-flex.a-items-c 
                                img(src="../assets/icon/Location.svg", alt="icon")
                                p 70 West Buckingham Ave. #[br] Farmingdale, NY 11735
                            li.footer--middle__item3.d-flex.a-items-c 
                                img(src="../assets/icon/Message.svg", alt="icon") 
                                p contact@greenshop.com
                                 
                            li.footer--middle__item4.d-flex.a-items-c 
                                img(src="../assets/icon/Calling.svg", alt="icon")
                                p +88 01911 717 490
                    .footer--bottom
                        ol.footer--bottom__list.d-flex
                            li.footer--bottom__item 
                                h3.footer--bottom__h3 My Account
                                p.footer--bottom__desc  My Account
                                p.footer--bottom__desc  Our stores
                                p.footer--bottom__desc  Contact us
                                p.footer--bottom__desc  Career
                                p.footer--bottom__desc  Specials

                            li.footer--bottom__item 
                                h3.footer--bottom__h3 Help & Guide
                                p.footer--bottom__desc Help Center
                                p.footer--bottom__desc  How to Buy
                                p.footer--bottom__desc  Shipping & Delivery
                                p.footer--bottom__desc  Product Policy
                                p.footer--bottom__desc  How to Return

                            li.footer--bottom__item 
                                h3.footer--bottom__h3 Categories
                                p.footer--bottom__desc  House Plants
                                p.footer--bottom__desc  Potter Plants
                                p.footer--bottom__desc  Seeds
                                p.footer--bottom__desc Small Plants
                                p.footer--bottom__desc  Accessories                          

                            li.footer--bottom__item-_end 
                                h3.footer--bottom__item-_end__h3 Social Media
                                .s-network 
                                    img(src="../assets/icon/Facebook (4).svg", alt="facebook").s-network__icon1
                                    img(src="../assets/icon/Instagram (1).svg", alt="Instagram").s-network__icon2
                                    img(src="../assets/icon/Twitter (1).svg", alt="Twitter").s-network__icon3
                                    img(src="../assets/icon/Linkedin (1).svg", alt="Linkedin").s-network__icon4
                                    img(src="../assets/icon/Union.svg", alt="facebook").s-network__icon5

                                h3.footer--bottom__item-_end__h3 We accept

                                .payments 
                                    img(src="../assets/icon/payment.svg", alt="payment")

                        
                p.footer--end © 2021 GreenShop. All Rights Reserved.