header.header 
            .container.d-flex.a-items-c.j-content-s-between 
                a(href="#")
                    img(src="../assets/logo/Green-header-logo.svg", alt="logo") 
                nav.nav
                    ol.d-flex.a-items-c.nav-gap 
                        li.header__nav__item 
                            a(href="./index.html").header__nav__link Home 
                        li.header__nav__item 
                            a(href="#").header__nav__link.shop-nav Shop

                        li.header__nav__item 
                            a(href="#").header__nav__link Plant Care

                        li.header__nav__item 
                            a(href="#").header__nav__link Blogs 

                .header--right
                    img(src="../assets/icon/search-icon.svg", alt="search").header__search--icon

                    .karzinka--wrapper 
                        img(src="../assets/icon/karzinka.svg", alt="karzinka").header__karzinka--icon
                        ins.karzinka__ins 0
                    button.header__button.a-items-c Login