section.releted-product
            .container 
                h2.releted-product--top__h2 You may be interested in

                .releted-product--top__br 

                 ol.cards__list.shop__cards__list 
                            li.cards__item.shop__cards__item 
                                img(src="../assets/images/cards__img1 (2).png", alt="rasm").cards__img.shop__cards__img
                                h3.cards__h3 Beach Spider Lily
                                ins.cards__ins $129.00
                                
                                .cards__item--hover__icons.d-flex.a-items-c.shop__cards__item--hover__icons      
                                    img(src="../assets/icon/shopping 1.svg", alt="shopping").cards__item--hover__icon1
                                    img(src="../assets/icon/heart 1.svg", alt="like").cards__item--hover__icon2
                                    img(src="../assets/icon/Frame.svg", alt="search").cards__item--hover__icon3
                            li.cards__item.shop__cards__item 
                                img(src="../assets/images/cards__img2.svg", alt="rasm").cards__img.shop__cards__img
                                h3.cards__h3 Blushing Bromeliad
                                ins.cards__ins $139.00

                                .cards__item--hover__icons.d-flex.a-items-c.shop__cards__item--hover__icons      
                                    img(src="../assets/icon/shopping 1.svg", alt="shopping").cards__item--hover__icon1
                                    img(src="../assets/icon/heart 1.svg", alt="like").cards__item--hover__icon2
                                    img(src="../assets/icon/Frame.svg", alt="search").cards__item--hover__icon3

                            li.cards__item.cards__item3.shop__cards__item
                                img(src="../assets/images/cards__img3.svg", alt="rasm").cards__img.shop__cards__img
                                h3.cards__h3 Aluminum Plant
                                ins.cards__ins $179.00 

                                .cards__item--hover__icons.d-flex.a-items-c.shop__cards__item--hover__icons      
                                    img(src="../assets/icon/shopping 1.svg", alt="shopping").cards__item--hover__icon1
                                    img(src="../assets/icon/heart 1.svg", alt="like").cards__item--hover__icon2
                                    img(src="../assets/icon/Frame.svg", alt="search").cards__item--hover__icon3

                            li.cards__item.shop__cards__item 
                                img(src="../assets/images/cards__img4.svg", alt="rasm").cards__img.shop__cards__img
                                h3.cards__h3 Bird's Nest Fern
                                ins.cards__ins $99.00

                                .cards__item--hover__icons.d-flex.a-items-c.shop__cards__item--hover__icons      
                                    img(src="../assets/icon/shopping 1.svg", alt="shopping").cards__item--hover__icon1
                                    img(src="../assets/icon/heart 1.svg", alt="like").cards__item--hover__icon2
                                    img(src="../assets/icon/Frame.svg", alt="search").cards__item--hover__icon3
                            
                            li.cards__item.shop__cards__item 
                                img(src="../assets/images/cards__img5.svg", alt="rasm").cards__img.shop__cards__img
                                h3.cards__h3 Bird's Nest Fern
                                ins.cards__ins $99.00

                                .cards__item--hover__icons.d-flex.a-items-c.shop__cards__item--hover__icons      
                                    img(src="../assets/icon/shopping 1.svg", alt="shopping").cards__item--hover__icon1
                                    img(src="../assets/icon/heart 1.svg", alt="like").cards__item--hover__icon2
                                    img(src="../assets/icon/Frame.svg", alt="search").cards__item--hover__icon3

                .shop-releted-product__slayder 
                        .shop__slayder1
                        .shop__slayder1.shop__slayder2
                        .shop__slayder1