.d-flex{
    display: flex;
}

.a-items-c{
    align-items: center;
}

.j-content-s-between{
    justify-content: space-between;
}

.m-auto{
    margin: 0 auto;
}

.m-left-a{
    margin-left: auto;
}

.m-right-a{
    margin-right: auto;
}

.container{
    width: 1166px;
    margin: 0 auto;
}

.nav-gap{
    gap: 50px;
}

